.cabecalho{
    background-color: #ef6817;
    height: 30px;
    padding: 10px;
    font-weight: bold;
}
.cabecalho_nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.cabecalho_nav-link{
    text-decoration: none;
    font-weight: bold;
    color : #21201f;
}
@media(max-width: 1000px){
    
    .cabecalho{
        display: flex;
        justify-content: space-around;
        height: 100px;
    }
    .cabecalho_nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
}