.habilidades{
    background-color: #5f605d;
    text-align: center;
    padding: 1%;
}

.habilidades_titulo{
    color: #ef6817;
    margin-bottom:12px ;
}

.habilidades_lista{
    display: flex;
    justify-content: space-around;
}

.habilidades_lista-icone{
 color:#e3874f;
 font-size: 20px;
 font-weight: bold;
}
 
@media(max-width:500px){
    .habilidades_lista{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
}